body {
	background-color: #FFFFCC;
	color: #330000;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("Images/background.gif");
}

#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-width: 700px;
	max-width: 1024px;
	box-shadow: 3px 3px 3px #333333;
	background-color: #003800;
}

header {
	background-color: #00B200;
	color: #000000;
	background-image: url("Images/javalogo.gif");
	background-position: center;
	background-repeat: no-repeat;
	line-height: 125px;
}

h1 {
	margin: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

h2	{
	text-transform: uppercase;
	background-color: #00B200;
	color: #FFDC00;
	font-size: 1.2em;
	border-bottom: 1px solid #000000;
	padding: 5px 0 0 5px;
}

.project, .video {
	margin-top: 40px;
}

nav	{
	text-align: center;
	float: left;
	font-weight: bold;
	padding-top: 10px;
}

nav a { 
	text-decoration: none;
	padding-bottom: 15px;
}

nav a:link {
	color:#996633;
}

nav a:visited {
	color:#FFFFFF;
}

nav a:hover {
	color:#E5E500;
}

nav ul li {
	padding: 10px;
	list-style-type: none;
}

main {
	margin-left:150px;
	padding: 10px 20px 100px 20px;
	background-color:#004C00;
	color:#FFFFFF;
}

.bulleted-list {
	display: inline-block;
	text-align: left;
	margin: 0;
}

.bulleted-list li {
	padding: 10px 0px;
}

.floatleft {
	float:left;
	padding-right: 20px;
	padding-bottom: 20px;
}

.details{
	padding-left: 20%;
	padding-right: 20%;
	overflow: auto;
}

.expand{
	padding-left: 10%;
	padding-right: 10%;
	overflow:auto;
}

img {
	border-style:none;
}

footer {
	background-color: #00B200;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
	padding: 5px;
	clear: both;
}

footer a:link {
	color:#FFFFCC;
}

footer a:visited {
	color:#F2EAB7;
}

footer a:hover {
	color:#330000;
}

table {
	margin: 40px auto;
	width: 90%;
	border-spacing: 0px;
	background-color: #00B200;
}

td, th {
	padding: 10px;
}

tr {
	text-align: center;
}

tr:nth-of-type(odd) {
	background-color: #003300;
}

label {
	float: left;
	display: block;
	text-align: right;
	width: 8em;
	padding-right: 20px;
}

input, textarea {
	display: block;
	margin-bottom: 1em;
}

.position-description {
	font-size: small;
	text-align: left;
}
